.footerContainer {
    display: flex;
   flex-shrink: 0;
   flex-direction: row;
   
  
}
.socialLinks{
    display:flex;
    justify-content: space-between;
}
footer img {

    padding-bottom: 1px;
    height: 2em;
    
}