@import './adventurePlan.css';
@import './dropDown.css';
@import './header.css';
@import './previewDisplay.css';
@import './weather.css';
@import './footer.css';

html, body {
    height: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: rgb(26,84,123);
    /* padding: .5em; */
}
.mainContainer{
    flex: 1;
    margin:0 .5em;
}