.park__image {
    width: 75%;
    margin: 0 auto;
}

/* this hidden rule was added by Dan for the Park Detail section */
.hidden {
    display: none;
}

.parkPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* this rule was added by Dan. It toggles when the Show Detail button is cliced on parks */
.parkDetail {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}

/* this rule targets all h3 tags that children of elements with the class parkWeather */
/* .parkWeather >h3 {
    text-align: center;
} */

.park__activities {
    columns: auto 2;
}

#parkDetail__Button {
    width: 50%;
    text-align: center;
}