.park__image {
    width: 75%;
    margin: 0 auto;
}

/* this hidden rule was added by Dan for the Park Detail section */
.hidden {
    display: none;
}

.parkPreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* this rule was added by Dan. It toggles when the Show Detail button is cliced on parks */
.parkDetail {
    display: flex;
    flex-direction: column;
    background-color: rgb(120, 128, 136);
    border-radius: 5pt;
    padding: .25em;
}

.park__activities {
    columns: auto 2;
}

#parkDetail__Button {
    width: 90%;
    margin: .5em 0;
    text-align: center;
    border-radius: 5pt;
}