/* this hidden rule was added by Dan for the Park Detail section */
.hidden {
  display: none;
}

.parkPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(188, 175, 155);
  border-radius: 5pt;
}

#parkDetail__Button {
  width: 90%;
  margin: 0.5em 0;
  text-align: center;
  border-radius: 5pt;
  background-color: rgb(128, 181, 156);
}

/* this rule was added by Dan. It toggles when the Show Detail button is cliced on parks */
.parkDetail {
  display: flex;
  flex-direction: column;
  background-color: rgb(188, 175, 155);
  border-radius: 5pt;
  /* padding: .25em; */
}

.park__info {
  margin: 0.25em;
}

.park__topicsContainer {
  columns: auto 2;
  margin: 0;
}

.park__topicsList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.park__topic {
  margin: 0.2em 0;
}

.park__imageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}

.park__image {
  width: 95%;
  margin: 2em auto 0.5em;
  border-radius: 2pt;
}

.park__imageDescription {
  margin: 0 0.8em 0 2em;
  width: 85%;
}

/* eateryComponent Styling */
.showEateryDetail {
  display: block;
  /* flex-direction: column; */
  background-color: rgb(188, 175, 155);
  padding: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;

  align-items: center;
}
.showEateryDetail h4 {
  margin: 0.5em;
  padding: 0;
  line-height: 1em;
}
.eateryPreview {
  background-color: rgb(188, 175, 155);
  border-radius: 5pt;
  margin: 0.5em 0;
}
.eateryPreview_Name {
  margin: 0.5em;
  padding: 0;
  padding-top: 1em;
  line-height: 1em;
  /* padding-left: 1em; */
}
.eaterySelect {
  /* background-color: rgb(173, 187, 208); */
}
.dropdown,
.selectAttraction,
.attractionPreview {
  background-color: rgb(245, 206, 107);
  width: 85%;
}
.dropdown {
  background-color: rgb(128, 181, 156);
  width: 85%;
}
#eateryDetailsButton {
  width: 90%;
  margin: 0.5em 0;
  text-align: center;
  border-radius: 5pt;
  align-self: center;
  margin-left: 1em;
  background-color: rgb(128, 181, 156);
}

/* AttractionsPreview Styling */
.attractionPreview {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: rgb(188, 175, 155);
  border-radius: 5pt;
  margin: 0.5em 0;
}
#attraction__button {
  width: 90%;
  margin: 0.5em 0;
  text-align: center;
  border-radius: 5pt;
  align-self: center;
  margin-left: 1em;
  background-color: rgb(128, 181, 156);
}
.attractionPreview section {
  display: flex;
  flex-direction: column;
}

/* added css for saved Itineraries by AP */
.savedItineraries {
  text-align: center;
}
.itinerariesList {
  background-color: rgb(188, 175, 155);
  border-radius: 5pt;
}
.itinerary {
  /* display: flex; */
  background-color: rgb(128, 181, 156);
  padding: 0.25em;
  margin: 0.75em 0.5em;
  border: solid thin black;
  border-radius: 5pt;
}

.attractionPreview {
  width: 100%;
}

.attractionPreview section {
  background: rgb(188, 175, 155);
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  padding: 0.2em;
}

#attraction__button {
  width: 90%;
  margin: 0 auto;
}
