.parkWeather {
    padding: .1em;

}
.weatherList {
    display: flex;
    background-color: rgb(120, 128, 136);
    border-radius: 5pt;
    
}
.weather {
    display: flex;
    width: 100%;
    padding: .25em;
    font-size: 9pt;
    text-align: center;
    align-content: center;
}
.weather :hover {
    background-color: whitesmoke;
    border-radius: 5pt;
}

/* this rule targets all h3 tags that children of elements with the class parkWeather -DAN */ 
.parkWeather >h3 {
    text-align: center;
}
